#info {
	background:#34333103;
	opacity:0.8;
	position: center;
	top:1px;
	right:5px;
	width:280px;
	color:#14f366;
	border-radius: 5px;
	z-index:10
  text-align: center; /* Căn giữa văn bản */
	
}

#info p {
   padding:0 10px;
}

#info a{ color:#f2ea0a; }

/* basic styles for black background and crosshair cursor */
body {
  background: url('https://photos.google.com/search/_cAF1QipMzEN0l7xk7t6oMut63HWF2LcAd1TKF4zU_Oh%20My%20Sunshine/photo/AF1QipOaRO2K0nutLVVidT-U2PDUtpmkxqurSKJs0p2u') no-repeat center center fixed;
  background-size: cover;
	
}

canvas {
	cursor: crosshair;
	display: block;
}
